---
layout: default
title: Projects
image: images/gruchalla_cave_2025.png
---

<h2 id="Events">Events</h2>
{% assign items = site.web | where: 'type', 'event' | sort: 'order' %}
{% for page in items reversed %}
	<div class="paper">
        <div class="thumb">
        <a href={{page.link}}><img class="thumbnail" src={{page.image}} alt={{page.image_text}} height="133" width="240"></a>
        </div>
        <div class="content">
          <div class="title">  <a href={{page.link}}>{{ page.title }}</a> </div>
          <div class="bib"> {{ page.authors }}. - {{page.location}}. {{ page.pubdate }}. </div>
          <div class="links">
            {% for link in page.links %}
               <a href={{link.path}}>{{link.title}}</a>
            {% endfor %}
          </div>
          <div class="abstract">
             {{ page.content }}
          </div>
	</div>
{% endfor %}
<br>
<h2 id="Professional">Professional</h2>
{% assign items = site.web | where: 'type', 'professional' | sort: 'order' %}
{% for page in items reversed %}
	<div class="paper">
        <div class="thumb">
        <a href={{page.link}}><img class="thumbnail" src={{page.image}} alt={{page.image_text}} height="133" width="240"></a>
        </div>
        <div class="content">
          <div class="title">  {{ page.title }} </div>
          <div class="bib"> {{ page.authors }}. {{ page.pubdate }}. </div>
          <div class="links">
            {% for link in page.links %}
               <a href={{link.path}}>{{link.title}}</a>
            {% endfor %}
          </div>
          <div class="abstract">
             {{ page.content }}
          </div>
	</div>
{% endfor %}
<br>
<h2 id="Personal">Personal</h2>
{% assign items = site.web | where: 'type', 'personal' | sort : 'order' %}
{% for page in items reversed %}
	<div class="paper">
        <div class="thumb">
        <a href={{page.link}}><img class="thumbnail" src={{page.image}} alt={{page.image_text}} height="133" width="240"></a>
        </div>
        <div class="content">
          <div class="title">  {{ page.title }} </div>
          <div class="bib"> {{ page.authors }}. {{ page.pubdate }}. </div>
          <div class="links">
            {% for link in page.links %}
               <a href={{link.path}}>{{link.title}}</a>
            {% endfor %}
          </div>
          <div class="abstract">
             {{ page.content }}
          </div>
	</div>
{% endfor %}
<hr width=100%>
