<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <meta property='og:title' content='{{ site.title }} | {{ site.tagline }}'/>
  <meta property='og:image' content='https://gruchalla.github.io/images/Immersive_ExaWind.png'/>
  <meta property='og:description' content='{{ site.ogdescription }}'/>
  <meta property='og:url' content='https://gruchalla.github.io'/>

  

</head>
