<link rel="stylesheet" href="css/academicons.css"/>

<header class="masthead">
<div class="mastheader">
  <div class="masthead-thumb">
  <img class="thumbnail" src={{page.image}} alt="Kenny Gruchalla" height="187" width="140">
  </div>
  <div class="masthead-content">
<h3 class="masthead-title">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
    <!-- <small class="masthead-subtitle">{{ page.title }}</small><br> --!>
    <div class="social-icons">
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
    <a href="https://linkedin.com/in/{{ site.author.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
    <a href="https://scholar.google.com/citations?user=HR4IWLoAAAAJ&hl=en"><i class="ai ai-google-scholar" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.researchgate.net/profile/{{ site.author.researchgate }}"><i class="ai ai-researchgate" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.youtube.com/user/{{ site.author.youtube }}"><i class="fa fa-youtube" aria-hidden="true" target="_blank"></i></a>
    <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
    <a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
    </div>
  </h3> 
  Senior Scientist, <a href="http://www.nrel.gov/">National Renewable Energy Laboratory</a><br>
  Assistant Professor Adjunct, <a href="http://www.colorado.edu/">University of Colorado at Boulder</a><br>
National Renewable Energy Laboratory<br>
15013 Denver West Parkway
Golden, CO 80401-3305<br>
<br>
  <a href="{{ site.baseurl }}{% link /pdf/cv.pdf %}">Curriculum Vitae</a>
<font size="-2"> (pdf updated 01/21/20)</font><br>
  </div>
  {% include menu.html %} 
  <br><br>
</div><br>
</header>
