---
layout: leaflet
title: Arenophilia
image: images/sand.png
---

<b>Arenophilia</b> <i>noun</i> 1. The love of sand.<br><br>

The complexity and variety of sand first caught my attention from the <i>Scientific American</i>
article [Mack 1996]. I collected physical samples for several years but became concerned about pontential
ecological and legal issues of collecting physical specimens. Fortunately, portable wireless digital micrscopes (e.g.
<a href="https://www.amazon.com/Microscope-Skybasic-Magnification-Compatible-Smartphone/dp/B07DVFBVPF">Skybasic 1000x</a>)
vastly simplify collecting digital samples in field.<br>
      <br>
Mack, W.N., and Leistikow, E.A. (1996, August) Sands of the World. <i>Scientific
American</i>, 275(2), 62-67. </td>
<br>
<h2 id="Samples">Samples</h2>


<div id="map" style="width: 100%; padding-top: 66%; border: 1px solid #AAA; margin-top: 20px; margin-bottom: 10px"></div>

<script type='text/javascript' src='markers.js'></script>
<script type='text/javascript' src='leaf.js'></script>

{% assign samples = site.data.samples %}
{% for sample in samples %}
   <div id={{sample.id}}> <b>{{ sample.name }}</b>, {{ sample.location }}<br>
   {% if sample.img1 == nil %}
   Coming soon
   {% else %}
   <img class="microscopy" src=images/sand/{{sample.img1}} width=48%>
   <img class="microscopy" style="float: right" src=images/sand/{{sample.img2}} width=48%>
   {% endif %}
   </div>
   <br>
   <hr>
{% endfor %}

<hr width=100%>
